aside {
    width: 13%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 55px;
    background-color: #1d2124;
}

aside nav a:hover{
    background-color: blue;
    color: white;
    border-radius: 0;
}

aside nav a.active {
    color: blue;
}

.car {
    width: 100px;
}

footer {
    margin-left: 13%;
}

.content {
    margin-left: 13%;
}

.btn-file {
    position: relative;

}

.btn-file input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}